:root { color-scheme: dark light; }

body {
	max-width: 40em;
	font: 1.2em/1.62 sans-serif;
	min-height: 100vh;
	margin: auto;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

div.matryoshka > img {
	max-width: 31%;
	margin: 1%;
}

button.save {
	float: right;
}
